:root {
  --header-height: 200px;
  --color-primary: #3498db;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

body {
  font-family: 'Poppins', sans-serif !important;
  /* min-height: 100vh; */
  color: #333;
  line-height: 1.6;
}

h1 {
  font-size: clamp(40px, 5vw, 70px);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  font-size: clamp(1em, 2vw, 2em);
  font-weight: 400;
  margin: 10px 0;
}

.custom-shape-divider-top-1616960561 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1616960561 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 164px;
}

.custom-shape-divider-top-1616960561 .shape-fill {
  fill: #ca1111;
}

header {
  /* height: var(--header-height); */
  padding-top: 2rem;
}

.header-item {
  cursor: pointer;
}

.header-icon:hover {
  transition: ease-in opacity 0.15s;
  opacity: 80%;
}

.github {
  height: 3rem;
  width: 3rem;
}

main {
  height: calc(100vh - var(--header-height));
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.field {
  max-width: 25rem;
  padding: 3rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  z-index: 1;
  animation-name: slideInFromRight;
  animation-duration: 1s;
}

.form {
  position: relative;
  height: 60px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #333;
}

.form label:after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--color-primary);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.form input:focus + .label-email .content-email,
.form input:valid + .label-email .content-email {
  transform: translateY(-100%);
  font-size: 14px;
  color: var(--color-primary);
}

.form input:focus + .label-email:after,
.form input:valid + .label-email:after {
  transform: translateX(0%);
}

.content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: transform 0.3s ease;
}

.btn {
  position: relative;
  display: block;
  margin: 2rem auto 0 auto;
  width: 100%;
  max-width: 10rem;
  height: 3rem;
  border-radius: 5px;
  cursor: pointer;
  background: none;
  overflow: hidden;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: color 0.8s;
  z-index: 1;
}

.btn:hover,
.btn:focus {
  color: white;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 0%; */
  /* height: 100%; */
  background-color: #3498db;
  z-index: -1;
  transition: transform 0.8s;
  transform: scaleX(0);
  transform-origin: 100%;
  will-change: transform;
}

.btn:hover:before,
.btn:focus:before {
  transform: scaleX(1);
  transform-origin: 0px;
}

.btn-icon {
  width: 2rem;
}

.btn-spinner {
  animation: rotate 1.5s linear infinite;
}

.btn-disabled.btn:before {
  transform: scaleX(1);
  transform-origin: 0px;
}

.btn-disabled.btn {
  cursor: not-allowed;
  color: white;
}

.box {
  height: 300px;
  width: 300px;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  position: absolute;
  bottom: 34px;
  left: -120px;
  border-radius: 55px;
  transform: rotateZ(15deg);
  z-index: -1;
}

.information {
  min-width: 20rem;
  z-index: 10;
  animation-name: slideInFromLeft;
  animation-duration: 1s;
}

.information h1 {
  font-weight: 800;
}

.information :nth-child(2) {
  display: inline-block;
}

.information :nth-child(2):after {
  content: '';
  display: block;
  position: relative;
  bottom: clamp(8px, 1vw, 12px);
  background: var(--color-primary);
  width: 110%;
  height: clamp(2px, 0.3vw, 5px);
  z-index: -1;
  border-radius: 5px;
}

.information--dot {
  animation-name: bounce;
  animation-duration: 1s;
  animation-delay: 1s;
  position: absolute;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    display: block;
  }

  .field {
    margin: 0 auto;
    padding: 2rem;
  }

  .information {
    margin: 3rem 0;
  }
}
